body#gsr.hp.vasq{
    background-image: url("https://cdn.imgbin.com/24/2/22/imgbin-mahabharata-brahmastra-ashwatthama-arjuna-weapon-50-YGY8nDu1r3X2C4i4ThyLqgMMn.jpg");
   }
   div.gb_xe.gb_R.gb_Me.gb_Ee {
    font-weight: bold;
    font-size: 15px;
   }